version: '3.8'
services:
  web:
    build: .
    ports:
      - "9002:9002"
    command: npm run dev
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
      - /usr/src/app/.next
    environment:
      - NODE_ENV=development
      - GENKIT_ENV=dev
    dns:
      - 8.8.8.8
      - 8.8.4.4

  genkit:
    build: .
    command: npm run genkit:watch
    ports:
      - "4000:4000" # Genkit UI
      - "3100:3100" # Genkit Flow server
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      - NODE_ENV=development
      - GENKIT_ENV=dev
    dns:
          - 8.8.8.8
          - 8.8.4.4
